@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');
@import 'styles/colors';
@import 'styles/variables';

html {
  min-height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  color: var(--darkGray);
  font-family: 'Work Sans', sans-serif;
}
